@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #79AC78; 
    --secondary-color: #000E01;
    --third-color: #FFFFFF;
    --color-button: #618264;
    --font-family1: "Inter", serif;
    --font-family2: "IBM Plex Sans", serif;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    font-size: 10px;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
nav{
    display: flex; 
    padding: 3.5rem;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family1);
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 5rem;
    font-size: 2rem;
    font-weight: 400;
}
.nav-links a {
    position: relative;
    text-decoration: none;
    color:#000E01;
    transition:color 0.4s;
    
}

.nav-links a:hover{
    color: #79AC78;
}
a.link{
    color: #618264;
}
.link::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 40%;
    transform: translate(-50%);
    width: 75%;
    height: 2px;
    background-color: var(--primary-color);
    transition: with 0.3s ease-in-out;
}

button{
width: 14rem;
height: 5rem;
margin-right: 2rem;
font-size: 1.6rem; 
background-color: #618264;
color: #FFFFFF;
border-radius: 3rem;
transition: background-color 0.4s;
}
button:hover{
background-color: #79AC78;
}
.section1 {
    display: flex;
    gap: 4rem;
}
.actu {
    flex: 1;
    width: 841.64px;
    height: 622px;
    margin-top: 30px;
    margin-left: 64px;
    
}
.head {
    position: relative;
    overflow: hidden;
    color: #ffffff;
    border-radius: 20px;
    width: 841.64px;
    height: 622px;
    display: flex;
}
.head img {
    width: 840.64px;
    border-radius: 20px;
    height: 622px;
    object-fit: cover;
}
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(10.82deg, rgba(0, 0, 0, 0.95) 1.55%, rgba(0, 0, 0, 0) 51.18%);

}
.head .side{
    position: absolute;
    width: 15px;
    height: 142px;
    margin-top: 441px;
    margin-left: 35px;
    background-color: var(--primary-color);
    border-radius: 23px;

}
.head .text {
    position: absolute;
    width: 674px;
    height: 101px;
    margin-top: 433px;
    margin-left: 80px;
    font-family: var(--font-family2);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.head .text b {
    font-weight: 700;
    font-size: 3.5rem;
}
.head .text .date {
    font-size: 20px;
    line-height: 26px;
}
.side1 {
    flex: 1;
    width: 453px;
    height: 628px;
    margin-top: 30px;
    padding-bottom: 50px;
}
.side1 .title {
    display: flex;
    font-family: var(--font-family2);
}
.side1 .title .sign {
    background-color: var(--primary-color);
    width: 13px;
    height: 40px;
    margin-top: 0;
    margin-left: 20px;
    border-radius: 20px;
}
.side1 .title p {
    width: 199px;
    height: 23px;
    margin-top: 05px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}
.primary {
    margin-right: 25px;
    display: flex;
    gap: 1.5rem;
    font-family: var(--font-family2);
    padding-bottom: 10px;
}
.primary img {
    flex: 1;
    width: 2rem;
    height: 17rem;
    margin-top: 18px;
    margin-left: 20px;
    border-radius: 10px;

}
.primary .txt {
    flex: 1;
    width: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.primary .txt h1 {
    width: 189px;
    height: 52px;
    margin-top: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding-right: 25px;
    font-family: var(--font-family2);
}
.primary .txt p {
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-family3);
}

/* css raissa */

/* mon css pour section3*/
.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
}
.section3  h1 {
  font-weight: 600;
  font-family: var(--font-family2);
  font-size: 4.3rem;
  text-align: center;
  line-height: 62.4px;
  height: 5.8rem;
  width: 110rem;
}
.section3  iframe {
    height: 50rem;
    width: 100rem;
    border-radius: 2rem;
}
/* section5 */
.section5 {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 10rem;
}

.card {
    text-align: center;
    width: 35rem;
}

.image-container {
    width: 35rem;
    height: 35rem; 
    overflow: hidden; 
    border-radius: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container .height{
    width: 34rem;
    height: 34rem;
    border: solid 1px;
}

.image-container .presse{
    width: 32rem;
    height: 19.7rem;
    margin-top: 7rem;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zoom et recadrage de l'image */
    position: relative;
}

.schedule {
    font-family: var(--font-family1);
    color: var(--primary-color);
    padding: 5px;
    line-height: 1.45rem;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
}

.title {
    font-family: var(--font-family2);
    font-size: 21px;
    font-weight: 600;
    font-weight: bold;
    text-align: left;
    line-height: 31.2px;
}
/* section7 */
.section7 {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 10rem;
    padding: 10px;
    padding-left: 7rem;
    border-radius: 8px;
    gap: 2rem;
}

.pub-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: var(--font-family2);
    font-size: 48px;
    font-weight: 600;
    color: var(--color-button);
    text-transform: uppercase;
}

.line {
    width: 1.3rem;
    height: 5.5rem;
    background-color: var(--color-button);
}

.pub-right {
    flex: 1;
}

.pub-right img {
    width: 137rem;
    height: 57rem;
    position: relative;
    object-fit: cover;
}

